[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = layolu layole
	email = layolulayole@gmail.com
[ghq]
	root = ~/.go/src
	root = ~/ghq
